[Desktop Entry]
Encoding=UTF-8
Name=Katana
Comment=Katana P2P Cryptocurrency
Comment[fr]=Katana, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Katana, eşten eşe kriptografik sanal para birimi
Exec=darknet-qt %u
Terminal=false
Type=Application
Icon=darknet128
MimeType=x-scheme-handler/darknet;
Categories=Office;Finance;
