[Desktop Entry]
Encoding=UTF-8
Name=Katana
Comment=Katana P2P Cryptocurrency
Comment[fr]=Katana, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Katana, eşten eşe kriptografik sanal para birimi
Exec=katana-qt %u
Terminal=false
Type=Application
Icon=katana128
MimeType=x-scheme-handler/katana;
Categories=Office;Finance;
